*{
    margin: 0;
    padding: 0;
}
body{
    /* background: linear-gradient(black,white); */
    /* height: 100vh; */
    font-family: system-ui;
}
a{
    text-decoration: none;
    color: white;
}


     /*      content      */
.main{
    background: rgb(113, 1, 83);
    padding: 1%;
    padding-left: 5%;
}
.main .about{
    color: white;
}

.about-our-team{
    background: rgb(229, 228, 228);
    text-align: center;
    padding: 2%;
}
.about-our-team h1{
    text-transform: uppercase;
}

.our-team{
    display: flex;
    background: rgb(113, 1, 83);
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    padding:0.5%;
    color: white;
}
.our-team i{
    color:white;
    font-size: 25px;
    margin-right: 15px;
}

 /*      PHOTOS      */

.card{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    margin: 5%;
    padding: 2%;
    /* background: rgb(215, 212, 212); */

}
